#login_main{
    border-radius: 10px;
    height: 500px;
}
#login_body{
    width: 100%;
    height: 745px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* box */
#login_box{
    width: 500px;
    height: 500px;
    background-color: #ECF0F1;
    margin: 0 auto;
    border-radius: 10px;
}
#login_title{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    font-size: 30px;
}
#login_form{
    width: 100%;
    height: 370px;
    margin-top: 30px;
}
/* foot */
#login_foot{
   display: flex;
   justify-content: center;
}
#login_foot a{
    margin-left: 5px;
    font-weight: 600;
    cursor: pointer;
}
/* Register form */
#login_form2{
    width: 100%;
    height: 370px;
    /* margin-top: 30px; */
}

/* bootstrap */
.form-control{
    width: 90%;
    height: 50px;
    margin: 0 20px;
}
.form-label{
    margin-left: 20px;
    font-size: 12px;
}
#login_body_btn{
    width: 100%;
    height: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
#login_btn{
    width: 200px;
    border-radius: 10px;
    font-weight: 450;
    border: 1px solid black;
    float: none;
    
}

/* Register */
#resgister_btn{
    width: 100px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

/* In Modal */
#modal_text{
    margin: 10px;
    float: left;
}


/* Back to HomePage */
#login_backtohome{
    width: 100%;
    height: 50px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}
#login_backtohome:hover{
    opacity: 80%;
}